<div class="list-container">
  <div class="list-header">
    <h1>Catalogue de films</h1>
    <a routerLink="/movies/new" class="btn btn-primary">Ajouter un film</a>
  </div>

   @if (movies().length > 0) {
    <div class="movie-grid" >
       @for (movie of movies(); track movie.id) {
        <a [routerLink]="['/movies', movie.id]" class="movie-card">
          <div class="movie-card-content">
            <h2 class="movie-title">{{ movie.title }} {{ movie.year }}</h2>
            <p class="movie-director">
              De {{ movie.director.first_name }}  {{ movie.director.last_name }}
            </p>
            <div class="movie-meta">
              <span class="movie-genre"> {{ movie.genre.label }} </span>
              <span class="movie-duration"> {{ movie.duration | duration }} </span>
            </div>
          </div>
        </a>
      }
    </div>
  } @else {
    <app-spinner />
  }
</div>
